<div id="home-toolbar">
    <div>
        <ul class="nav navbar-nav">
            <li><a href="/pivot">{{ 'pivot' | i18n }}</a></li>
        </ul>
    </div>
</div>
<div id="home-box">
    <header>
        <div style="flex: 1;">
            <img style="height: 100%; width: 100%;" src="/assets/images/logos/index0911_03.gif" />
        </div>
        <div style="flex: 2;">
            <div class="toolbar"></div>
        </div>
    </header>
    <home-nav>
    </home-nav>
    <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>
</div>