<md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>more_vert</md-icon>
    </button>
    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
</md-toolbar>
<md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item (click)="sidenav.toggle()">Settings</button>
    <button md-menu-item (click)="isDarkTheme=!isDarkTheme">Toggle theme</button>
    <button md-menu-item>Help</button>
    <button md-menu-item (click)="logout()">{{ "logout" | i18n }}</button>
</md-menu>
<md-sidenav-container style="height: calc(100vh - 64px); overflow: hidden;">
    <md-sidenav align="start" mode="side" opened="true" #sidenav>
        <povit-nav></povit-nav>
    </md-sidenav>
    <md-grid-list cols="4" style="background: #eecc99; overflow: hidden;">
        <md-grid-tile rowspan="4" colspan="4">
            <router-outlet></router-outlet>
        </md-grid-tile>
    </md-grid-list>
</md-sidenav-container>